body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.login-page {
  background-color: #7f1818;
  background-image: linear-gradient(19deg, #7f1818 0%, #000000 100%);
  height: 100vh;
}
.navbar-brand{
  color: #fff;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-box {
  color: #fff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.login-box span a {
  text-decoration: none;
  color: #fff;
}
.login-box span a:hover {
  text-decoration: underline;
}
.middle-heading {
  color: #fff;
  position: absolute;
  font-size: 200px;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
}
/* Bootstrap Override */
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  border-bottom: 1px solid #b6b6b6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input::placeholder {
  font-weight: 400;
  opacity: 0.5;
  color: #b6b6b6 !important;
}
.form-control:focus {
  color: #b6b6b6;
  background-color: transparent;
  border-color: #a55c5c6c;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.25);
}
@media (max-width: 500px) {
    .login-page {
        background-color: #7f1818;
        background-image: linear-gradient(19deg, #7f1818 0%, #000000 100%);
        min-height: 110vh; 
        overflow: hidden; 
    } 
    .middle-heading {
        color: #fff;
        position: absolute;
        font-size: 120px;
        opacity: 0.5;
        color: rgba(255, 255, 255, 0.2);
        text-align: center;
    }
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 500px) {
    .login-page {
        background-color: #7f1818;
        background-image: linear-gradient(19deg, #7f1818 0%, #000000 100%);
        min-height: 110vh; 
        overflow: hidden; 
    } 
    .middle-heading {
        color: #fff;
        position: absolute;
        font-size: 130px;
        opacity: 0.5;
        color: rgba(255, 255, 255, 0.2);
        text-align: center;
    }
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.errorMessage{
  font-size: 12px;
}

